@font-face {
  font-family: arcadeClassic;
  src: url('../fonts/ac1.ttf');
}

@font-face {
  font-family: karmaticArcade;
  src: url('../fonts/ka1.ttf');
}


* {
  box-sizing: border-box;
}

body {
  background: black url('../images/question.png') no-repeat center;
  background-size: 50% 100%;
}

.vg, .welcome, .continue {
  font-family: arcadeClassic !important;
  background: -webkit-linear-gradient(#FFDD00, #FFB300, #FF8000, #FF5500, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vg {
  font-size: 100px;
}

.iamwho {
  font-family: 'karmaticArcade';
  font-size: 20px;
  background: grey;
}

.continue {
  font-size: 60px;
}

.header {
  position: fixed;
  text-align: left;
  width: 100%;
  margin-left: 200px;
  padding: 20px;
  display: block;
  margin: -50 auto;
}
