@font-face {
  font-family: arcadeClassic;
  src: url('../fonts/ac1.ttf');
}

@font-face {
  font-family: karmaticArcade;
  src: url('../fonts/ka1.ttf');
}


* {
  box-sizing: border-box;
}

body {
  background: url(../images/donkeykong.jpg) no-repeat center center fixed;
  opacity: 0.9;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vg, .welcome, .continue, .return {
  font-family: arcadeClassic !important;
  background: -webkit-linear-gradient(#FFDD00, #FFB300, #FF8000, #FF5500, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vg {
  font-size: 100px;
}

.iamwho {
  font-family: 'karmaticArcade';
  font-size: 20px;
  background: white;
  padding: 10 20 10 20;
  line-height: 1.4em;
}

.comma {
  font-family: arcadeClassic !important;
  font-size: 25px;
}

.continue {
  font-size: 60px;
  display: inline-block;
}

.header {
  text-align: left;
  width: 100%;
  margin-left: 200px;
  padding: 20px;
  display: block;
  margin: -50 auto;
}

.return {
  font-size: 30px;
  position: fixed;
  bottom: 0px;
  right: 50px;
}
